/* CSS Reset
Removes browser preset properties
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 1em;
  margin: 0 auto !important;
  max-width: 680px;
  background-color: #9DC6D8 !important;
  background-image: url('images/theimage.jpg');
       background-size: auto 100%;
       background-repeat: no-repeat;
       background-position: center;
}

#h1-title{
  font-size: 1.8em;
  padding: 1%;
  color: #BFAD61;
  text-shadow: 0 0 0.3em #000;
}
.weather-info-div{
  color: black;

}
.location-section{

}
.darkSky-icon{

}
.weather-summary{
display: inline-block;
}
.temperature-section {
  display: inline-block;
}
.temperature-measurement{
  display: inline-block;
}
.temperature-measurement img {
  width: 30px;
  height: 30px;
}
.daily-summary{

}
